/* HomePage.css */
.carousel-container {
    width: 80vw;
    margin: auto;
  }


      /* Define the animation */
      @keyframes rotate-in-place {
        from { transform: rotate(0deg); }
        to { transform: rotate(360deg); }
      }
  
      /* Style the div */
      .rotate {
        width: 80px;
        height: 80px;
        background-color: #f3f3f3;
        border-radius: 50%;
        margin: 100px auto;
        animation: rotate-in-place 2s linear infinite; /* 2s duration, linear timing, infinite loop */
      }

      /* styles.css */
.img-container {
    margin-top: 50px;
    width: 100%;
  }
  
  .center-text {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    text-align: center;
  }
  
  .text-content {
    height: 100px;
    display: flex;
    align-items: center;
    gap: 5px;
  }
  
  .rotate img {
    width: 40px;
    height: 40px;
  }
  
  /* Responsive adjustments */
  @media (max-width: 768px) {
    .center-text {
      font-size: 30px;
    }
  
    .rotate img {
      width: 30px;
      height: 30px;
    }
  }
  
  @media (max-width: 480px) {
    .center-text {
      font-size: 24px;
      flex-direction: column;
    }
  
    .text-content {
        height: 80px;
      gap: 3px;
    }
  
    .rotate {
      width: 45px;
      height: 45px;
    }
  }
  