/* Sidebar.css */
.sidebar {
  position: fixed;
  left: 0;
  top: 0;
  width: 300px;
  height: 100%;
  background-color: #ffffff;
  color: rgb(70, 70, 70);
  transition: transform 0.3s ease;
  transform: translateX(-100%);
  box-shadow: 4px 0 10px rgba(0, 0, 0, 0.2);
  z-index: 50000;
}

.nav-welcome {
  padding: 10px;
  font-size: 1.5rem;
  font-weight: 400;
  color: black;
}

hr {
  border: none;
  height: 1.8px;
  background-color: #ffc107;
}

.nav-welcome b {
  font-weight: 800;
}

.sidebar.open {
  transform: translateX(0);
}

.toggle-btn {
  position: absolute;
  top: 80px;
  right: -55px;
  padding: 10px;
  background-color: #ffc107;
  color: rgb(0, 0, 0);
  cursor: pointer;
  border: none;
  border-radius: 50%;
  animation: breathing 2s infinite;
}

.toggle-btn-in {
  position: absolute;
  top: 80px;
  right: 30px;
  padding: 10px;
  background-color: #ffc107;
  color: rgb(0, 0, 0);
  cursor: pointer;
  border: none;
  border-radius: 50%;
  animation: breathing 2s infinite;
}

.sidebar nav ul {
  list-style-type: none;
  padding: 0;
}

.sidebar nav ul li {
  width: 100%;
  color: #000;
}

.parent {
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  width: 100%;
  cursor: pointer;
  background: repeating-linear-gradient(
    5deg,
    var(--gold) 0%,
    var(--light-shadow) 23%,
    var(--gold) 31%
  );
  background-size: 200%;
  animation: shine 2s linear infinite;
  color: #000;
}

.parent:hover,
.drop-item:hover {
  font-weight: 400;
  color: #ffc107;
}

@keyframes shine {
  0% {
    background-position: -200%;
  }
  100% {
    background-position: 200%;
  }
}

/* Responsive adjustments */
@media (max-width: 968px) {
  .sidebar {
    width: 100%;
  }
  .toggle-btn {
    top: 20px;
    right: -50px;
    padding: 8px;
  }
  .toggle-btn-in {
    top: 20px;
    right: 30px;
    padding: 8px;
  }
  .nav-welcome {
    font-size: 1.2rem;
  }
}

@media (max-width: 480px) {
  .sidebar {
    width: 100vw;
  }
  .toggle-btn {
    top: 20px;
    right: -45px;
    padding: 6px;
  }

  .toggle-btn-in {
    top: 20px;
    right: 30px;
    padding: 6px;
  }
  .nav-welcome {
    font-size: 1rem;
  }
}
